<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="all" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<title>路比官网</title>
<meta name="keywords" content="路比官网" />
<meta name="description" content="路比官网" />
<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/style.css" />
</head>

<body>
<h1 class="thumbnails" style="width:0; height:0; overflow:hidden; position:absolute;">
    路比官网
    <p>路比官网</p>
    <img src="about:blank" title="分享图片地址" style="width:0; height:0; overflow:hidden; position:absolute;">
</h1>
<header class="banner">
    <a href="detail.html" class="btn-back"></a>
    <a href="javascript:void(0);" id="mine-title"><span>兑换成功</span><em class="imgs arr"></em></a>
    <a class="btn-show" href="javascript:void(0);"></a>
    <nav class="nav">
        <div class="mask"></div>
        <a class="btn-close" href="javascript:void(0);"></a>
        <ul class="navlist">
            <li class="home" data-page-id="0"><span class="nav-icons"></span><p>首页</p><span class="arrow"></span></li>
            <li class="apply" data-page-id="1"><span class="nav-icons"></span><p>免费申领</p><span class="arrow"></span></li>
            <li class="member" data-page-id="2"><span class="nav-icons"></span><p>个人中心</p><span class="arrow"></span></li>
            <li class="guide" data-page-id="3"><span class="nav-icons"></span><p>新手指引</p><span class="arrow"></span></li>
            <li class="aboutus" data-page-id="4"><span class="nav-icons"></span><p>关于我们</p><span class="arrow"></span></li>
        </ul>
        <div class="login-box">
            <div class="unlogin">
                <a href="../register/register.html" class="btn-reg">免费注册</a>
                <a href="../login/login.html" class="gologin">已有账号，去登录<div class="arrow"></div></a>
            </div>
            <div class="logined hide">
                <div class="welcome">Hi，Orange</div>
                <a href="../logout.html" class="btn-logout">退出登录</a>
            </div>
        </div>
    </nav>
</header>

<div id="catalog-mask" class="hide"></div>
<nav id="catalog" class="cm">
    <ul class="cataloglist">
       <li class="mall" data-page-id="221"><span class="icons"></span><p>保险返现收益兑优惠</p><span class="arrow imgs"></span></li>
        <li class="record" data-page-id="223"><span class="icons"></span><p>我的保险返现收益兑换纪录</p><span class="arrow imgs"></span></li>
    </ul>
</nav>

<section id="reg_success" class="register">
    <div class="wrapper">
        <div class="reg_success">
            <div class="icons ico_green_right"></div>
            <div class="title">兑换成功</div>
            <div class="explain">您已成功兑换20元哈根达斯冰激凌一张！奖品校验码会以短信的形式发给您，注意查收！如有疑问，可致电XXXXXXXXXXXX</div>
        </div>
        <a href="record-detail.html" class="btn_blue" id="btn-success">兑换详情</a>
    </div>

</section>
<script src="../js/jquery.min.js"></script>
<script src="../js/main.js"></script>
<script>
    $(function() {
        $('.btn-exchange').click(function() {

        });
    });
</script>
</body>
</html>