<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="all" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<title>路比官网</title>
<meta name="keywords" content="路比官网" />
<meta name="description" content="路比官网" />
<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/style.css" />
</head>

<body>
<h1 class="thumbnails" style="width:0; height:0; overflow:hidden; position:absolute;">
    路比官网
    <p>路比官网</p>
    <img src="about:blank" title="分享图片地址" style="width:0; height:0; overflow:hidden; position:absolute;">
</h1>
<header class="banner">
    <a href="gains.html" class="btn-back"></a>
    <h3><span>保险返现收益明细</span></h3>
    <a class="btn-show" href="javascript:void(0);"></a>
    <nav class="nav">
        <div class="mask"></div>
        <a class="btn-close" href="javascript:void(0);"></a>
        <ul class="navlist">
            <li class="home" data-page-id="0"><span class="nav-icons"></span><p>首页</p><span class="arrow"></span></li>
            <li class="apply" data-page-id="1"><span class="nav-icons"></span><p>免费申领</p><span class="arrow"></span></li>
            <li class="member" data-page-id="2"><span class="nav-icons"></span><p>个人中心</p><span class="arrow"></span></li>
            <li class="guide" data-page-id="3"><span class="nav-icons"></span><p>新手指引</p><span class="arrow"></span></li>
            <li class="aboutus" data-page-id="4"><span class="nav-icons"></span><p>关于我们</p><span class="arrow"></span></li>
        </ul>
        <div class="login-box">
            <div class="unlogin">
                <a href="../register/register.html" class="btn-reg">免费注册</a>
                <a href="../login/login.html" class="gologin">已有账号，去登录<div class="arrow"></div></a>
            </div>
            <div class="logined hide">
                <div class="welcome">Hi，Orange</div>
                <a href="../logout.html" class="btn-logout">退出登录</a>
            </div>
        </div>
    </nav>
</header>


<section id="mine">
    <div class="wrapper">
        <div class="gains-list-hd">
            <p>总收益(元)</p>
            <h3>1,026.64</h3>
        </div>
        <div class="none-gains hide">
            <p>暂无收益</p>
        </div>
        <div class="gains-list">
            <ul>
                <li><a href="gains-detail.html"><h3>爱奇艺会员卡一张</h3>
                    <p>2015.06.17</p>
                    <div class="gains-list-data red">-13.20</div></a>
                </li>
                <li><a href="gains-detail.html"><h3>今天表现很好哦！</h3>
                    <p>2015.06.16</p>
                    <div class="gains-list-data blue">+2.65</div></a>
                </li>
                <li><a href="gains-detail.html"><h3>推荐客户成功，奖励系数加倍</h3>
                    <p>2015.06.16</p>
                    <div class="gains-list-data blue">+10.00</div></a>
                </li>
                <li><a href="gains-detail.html"><h3>违章啦！</h3>
                    <p>2015.06.15</p>
                    <div class="gains-list-data red">-10.00</div></a>
                </li>
                <li><a href="gains-detail.html"><h3>出险1次</h3>
                    <p>2015.06.15</p>
                    <div class="gains-list-data red">-13.20</div></a>
                </li>
                <li><a href="gains-detail.html"><h3>今天表现很好哦！</h3>
                    <p>2015.06.14</p>
                    <div class="gains-list-data blue">+3.65</div></a>
                </li>
            </ul>

        </div>
        <div class="gains-list-more">向上拉加载更多</div>



    </div>

    <!--注册信息出错提示层---->
    <div id="pop-mask" class="hide"></div>
    <div id="pop-reg-tips" class="pop-tips hide">
        <div class="pop-bd"></div>
        <a href="javascript:void(0);" id="btn-submit" class="btn_blue_s">确定</a>
    </div>
</section>
<script src="../js/jquery.min.js"></script>
<script src="../js/main.js"></script>
<script>
    $(function() {

    });
</script>
</body>
</html>