<!doctype html>
<html style="background-color: #efeff4;">
<head>
<meta charset="utf-8">
<meta name="robots" content="all" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<title>商城订单</title>
<meta name="keywords" content="商城订单" />
<meta name="description" content="商城订单" />
<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/style.css" />
</head>
<body>
<header class="banner">
    <a href="mine.html" class="btn-back"></a>
    <a href="javascript:void(0);" id="mine-title"><span>商城订单</span></a>
</header>



<section id="mine">
    <div class="wrapper">



        <div class="ordercut-off"></div>
        <div id="order" class="orderlist">
            <div class="orderid"><span>订单编号：123456789123</span><span class="fr">2016/06/07</span></div>
            <div class="orerinfo">
                <span class="goodsimg"><img src="../images/goos.png"> </span>
                <span class="goostitle">
                    100元联通充值卡
                    <p>￥98元</p>
                </span>
            </div>
            <div class="orderresult">兑换码：<span id="copyid">123456789123</span><span class="copy">发送短信</span></div>
        </div>



        <div class="ordercut-off"></div>
        <div id="order" class="orderlist">
            <div class="orderid"><span>订单编号：123456789123</span><span class="fr">2016/06/07</span></div>
            <div class="orerinfo">
                <span class="goodsimg"><img src="../images/goos.png"> </span>
                <span class="goostitle">
                    100元联通充值卡
                    <p>￥98元</p>
                </span>
            </div>
            <div class="orderresult">兑换码：123456789123<span class="copy">发送短信</span></div>
        </div>



        <div class="ordercut-off"></div>
        <div id="order" class="orderlist">
            <div class="orderid"><span>订单编号：123456789123</span><span class="fr">2016/06/07</span></div>
            <div class="orerinfo">
                <span class="goodsimg"><img src="../images/goos.png"> </span>
                <span class="goostitle">
                    100元联通充值卡
                    <p>￥98元</p>
                </span>
            </div>
            <div class="orderresult">兑换码：123456789123<span class="copy">发送短信</span></div>
        </div>
















        <div class="points-list-more">向上拉加载更多</div>

    </div>

    <!--抽中收益后的提示框---->


</section>
<script src="../js/jquery.min.js"></script>

</body>
</html>