<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="all" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<title>路比官网</title>
<meta name="keywords" content="路比官网" />
<meta name="description" content="路比官网" />
<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/style2.css" />
</head>

<body>
<header class="banner">
    <a href="../index.html" class="btn-back"></a>
    <h3>注册帐号</h3>
</header>
<section id="register" class="register">
    <div class="wrapper">
        <form id="registerForm" method="post" action="javascript:;">
            <ul class="new_register">

                <li><span class=" ico_phone">手机号</span>
                    <input type="tel" placeholder="请输入手机号码" class="r_phone" />
                    <em class=" ico_input_right fr hide"></em><em class="icons ico_input_error fr hide"></em>
                </li>


                <li><span class=" ico_lock">手机验证码</span>
                    <input type="text" placeholder="请输入短信验证码" class="r_vcode" maxlength="16" />
                    <a href="javascript:void(0)" class="btn_gray_s fr">获取验证码</a>

                </li>

                <li><span class=" ico_lock">设置密码</span>
                    <input type="password" placeholder="请再次输入登录密码" class="r_repsw" maxlength="16" />

                </li>
            </ul>
            <div class="register_text"><span style="float: left;l"><input type="checkbox" id="checkbox-1-1" class="regular-checkbox" /><label for="checkbox-1-1"></label></span><span style="float: left;  font-size: 1.5em; margin-left: 5px;"> 同意</span><a href="../privacy.html">鼎然科技用户使用协议</a></div>
            <input type="submit" class="btn_gray" id="btn-register" value="下一步" /><!--当条件满足时，将class"btn_gray"切换为"btn_blue"-->
            <!--完成这步后，转到填写车辆信息"reg_vehicle.html"-->
            <div class="owlogin">已有帐号,直接登录</div>

            <div class="register_login_bar">
                <a href="../login/login_qq.html" class="login_qq"><span class="icons ico_qq">QQ登录</span></a>

            </div>

        </form>
    </div>
    <!--注册信息出错提示层---->
    <div id="pop-mask" class="hide"></div>
    <div id="pop-reg-tips" class="pop-tips hide">
        <div class="pop-bd">

            <p class="hide">该邮箱/手机号码已被注册！</p>

            <p class="hide">请输入正确的邮箱/手机号码！</p>

            <p class="hide">密码长度必须大于6个字符<br>
                小于20个字符。</p>

            <p class="hide">两次密码输入不一致，<br>
                请重新输入！</p>

            <p>您输入的验证码错误！<br>
                请重新输入，或重新获取验证码！</p>

            <p class="hide">请接受《鼎然科技用户协议》！</p>

        </div>
        <a href="javascript:void(0);" id="btn-submit" class="btn_blue_s">确定</a>
    </div>
</section>
<script src="../js/jquery.min.js"></script>
<script>
    $(function() {
        $("#btn-register").click(function () {
            //如果注册条件不满足，则显示弹出层
            var screenHeight = $(window).height();
            $("#pop-mask").css({height: screenHeight}).fadeIn(500);
            $("#pop-reg-tips").fadeIn(500);
        });
        $("#btn-submit").click(function() {
            $("#pop-mask").fadeOut(500);
            $("#pop-reg-tips").fadeOut(500);
        });
        $('#referrer-code').click(function() {
            if ($(this).is(':checked')) {
                $('#my-referrer-code').fadeIn(500);
            } else {
                $('#my-referrer-code').fadeOut(500);
            }
        });
    });
</script>
</body>
</html>