<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="all" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<title>路比官网</title>
<meta name="keywords" content="路比官网" />
<meta name="description" content="路比官网" />
<link rel="stylesheet" href="css/reset.css" />
<link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/layer.css"/>
</head>

<body>
<h1 class="thumbnails" style="width:0px; height:0px; overflow:hidden; position:absolute;">
路比官网
<p>路比官网</p>
<img src="about:blank" title="分享图片地址" style="width:0px; height:0px; overflow:hidden; position:absolute;">
</h1>
<header class="banner">

    <h3>路比</h3>
   <!-- 有未读消息时把btn-mall切换成btn-lmail-->
    <a class="btn-mall" href="javascript:void(0);"></a>

</header>
<section id="index">
    <div class="topcar"><a  href="javascript:;">粤B123456 <i class="icon-arrow" ></i></a></div>
    <div class="indextip">路比UBI.您的车险存钱罐</div>

    <div class="indexbd"><img src="images/indexbd.png"> </div>
    <div class="indexmoney">100.55</div>
    <div class="moneyms"><span style="font-size: 16px;">本周驾驶收益</span><p><span style="font-size: 12px;">(路比币)</span></p></div>
    <div class="indexbg"></div>
    <div class="indexor"><div class="orleft"><i class="icon-mall" ><img src="images/indextwo.png"> </i><span>路比商城</span></div> <div class="orright"><i class="icon-bx" ><img src="images/indexone.png"> </i><span>购买车险</span></div> </div>
    <div class="mileage">
        <div class="mleft"><span>昨日驾驶得分</span><p>188.88</p></div>
        <div class="mright"><span>昨日行驶里程(公里)</span><p>166</p><p class="syhelp"><i class="icon-arrow-why" ></i> 如何增加收益</p></div>

    </div>
</section>
<footer class="footer">
    <div class="foot-con">
        <div class="foot-con_2">
            <a href="index.html" class="active">
                <i class="navIcon home"></i>
                <span class="text">首页</span>
            </a>
            <a href="news.html">
                <i class="navIcon sort"></i>
                <span class="text">发现</span>
            </a>
            <a href="center/mine.html">
                <i class="navIcon member"></i>
                <span class="text">我的</span>
            </a>
        </div>
    </div>
</footer>

<script src="js/jquery.min.js"></script>
<script src="js/layer.js"></script>
<script>
    $('.syhelp').on('click', function (){
        layer.open({
            content:'文案测试',
            style: 'background-color:#000; color:#fff; border:none;',
            time: 3
        });
    })

</script>

</body>
</html>
