<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="all" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<title>发现</title>
<meta name="keywords" content="发现" />
<meta name="description" content="发现" />
<link rel="stylesheet" href="css/reset.css" />
<link rel="stylesheet" href="plugn/swiper/swiper.min.css" />
<link rel="stylesheet" href="plugn/swiper/animate.min.css" />
<link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/news.css" />
</head>

<body>
<h1 class="thumbnails" style="width:0px; height:0px; overflow:hidden; position:absolute;">
    发现
<p>发现</p>
<img src="about:blank" title="分享图片地址" style="width:0px; height:0px; overflow:hidden; position:absolute;">
</h1>
<header class="banner">

    <a href="javascript:void(0);" id="mine-title"><span>发现</span></a>
    <a class="btn-mall" href="javascript:void(0);"></a>
    
</header>
<section id="container">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="images/banner.png"></div>
            <div class="swiper-slide"><img src="images/banner.png"></div>
            <div class="swiper-slide"><img src="images/banner.png"></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

    </div>
    <div class="new-title"><span>资讯</span></div>
    <div class="newslist">
        <div class="box">
            <a href="" title="车险行业将迎来巨大变革">
                <div class="pic"><img src="http://news.xiashanet.com//d/file/a/kb/xfqb/xbtd/ea4f2dbd54c46b0b4f2a18b460a84e34.jpg" alt="车险行业将迎来巨大变革" title="车险行业将迎来巨大变革" width="120"></div>
                <dl class='right'>
                    <dt class="title">车险行业将迎来巨大变革</dt>
                    <dd class="text">路比UBI专门为车险定价打造一款对汽车终端的使用数据........</dd>
                    <dd class="datetime"><span>2016-05-03</span><span class="click">800浏览</span></dd>
                </dl>
            </a>
        </div>
        <div class="box">
            <a href="" title="车险行业将迎来巨大变革">
                <div class="pic"><img src="http://news.xiashanet.com//d/file/a/kb/xfqb/xbtd/ea4f2dbd54c46b0b4f2a18b460a84e34.jpg" alt="车险行业将迎来巨大变革" title="车险行业将迎来巨大变革" width="120"></div>
                <dl class='right'>
                    <dt class="title">车险行业将迎来巨大变革</dt>
                    <dd class="text">路比UBI专门为车险定价打造一款对汽车终端的使用数据........</dd>
                    <dd class="datetime"><span>2016-05-03</span><span class="click">800浏览</span></dd>
                </dl>
            </a>
        </div>
        <div class="box">
            <a href="" title="车险行业将迎来巨大变革">
                <div class="pic"><img src="http://news.xiashanet.com//d/file/a/kb/xfqb/xbtd/ea4f2dbd54c46b0b4f2a18b460a84e34.jpg" alt="车险行业将迎来巨大变革" title="车险行业将迎来巨大变革" width="120"></div>
                <dl class='right'>
                    <dt class="title">车险行业将迎来巨大变革</dt>
                    <dd class="text">路比UBI专门为车险定价打造一款对汽车终端的使用数据........</dd>
                    <dd class="datetime"><span>2016-05-03</span><span class="click">800浏览</span></dd>
                </dl>
            </a>
        </div>
        <div class="box">
            <a href="" title="车险行业将迎来巨大变革">
                <div class="pic"><img src="http://news.xiashanet.com//d/file/a/kb/xfqb/xbtd/ea4f2dbd54c46b0b4f2a18b460a84e34.jpg" alt="车险行业将迎来巨大变革" title="车险行业将迎来巨大变革" width="120"></div>
                <dl class='right'>
                    <dt class="title">车险行业将迎来巨大变革</dt>
                    <dd class="text">路比UBI专门为车险定价打造一款对汽车终端的使用数据........</dd>
                    <dd class="datetime"><span>2016-05-03</span><span class="click">800浏览</span></dd>
                </dl>
            </a>
        </div>
        <div class="box">
            <a href="" title="车险行业将迎来巨大变革">
                <div class="pic"><img src="http://news.xiashanet.com//d/file/a/kb/xfqb/xbtd/ea4f2dbd54c46b0b4f2a18b460a84e34.jpg" alt="车险行业将迎来巨大变革" title="车险行业将迎来巨大变革" width="120"></div>
                <dl class='right'>
                    <dt class="title">车险行业将迎来巨大变革</dt>
                    <dd class="text">路比UBI专门为车险定价打造一款对汽车终端的使用数据........</dd>
                    <dd class="datetime"><span>2016-05-03</span><span class="click">800浏览</span></dd>
                </dl>
            </a>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="foot-con">
        <div class="foot-con_2">
            <a href="index.html" class="active">
                <i class="navIcon home"></i>
                <span class="text">首页</span>
            </a>
            <a href="category.html">
                <i class="navIcon sort"></i>
                <span class="text">发现</span>
            </a>
            <a href="userhome.html">
                <i class="navIcon member"></i>
                <span class="text">我的</span>
            </a>
        </div>
    </div>
</footer>




<script src="js/jquery.min.js"></script>
<script src="plugn/swiper/swiper.min.js"></script>
<script src="plugn/swiper/swiper.animate1.0.2.min.js"></script>
<script>
var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    paginationClickable: true,
    centeredSlides: true,
    autoplay: 3000,
    autoplayDisableOnInteraction: false
});
</script>
</body>
</html>
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="all" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<title>发现</title>
<meta name="keywords" content="发现" />
<meta name="description" content="发现" />
<link rel="stylesheet" href="css/reset.css" />
<link rel="stylesheet" href="plugn/swiper/swiper.min.css" />
<link rel="stylesheet" href="plugn/swiper/animate.min.css" />
<link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/news.css" />
</head>

<body>
<h1 class="thumbnails" style="width:0px; height:0px; overflow:hidden; position:absolute;">
    发现
<p>发现</p>
<img src="about:blank" title="分享图片地址" style="width:0px; height:0px; overflow:hidden; position:absolute;">
</h1>
<header class="banner">

    <a href="javascript:void(0);" id="mine-title"><span>发现</span></a>
    <a class="btn-mall" href="javascript:void(0);"></a>
    
</header>
<section id="container">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="images/banner.png"></div>
            <div class="swiper-slide"><img src="images/banner.png"></div>
            <div class="swiper-slide"><img src="images/banner.png"></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

    </div>
    <div class="new-title"><span>资讯</span></div>
    <div class="newslist">
        <div class="box">
            <a href="" title="车险行业将迎来巨大变革">
                <div class="pic"><img src="http://news.xiashanet.com//d/file/a/kb/xfqb/xbtd/ea4f2dbd54c46b0b4f2a18b460a84e34.jpg" alt="车险行业将迎来巨大变革" title="车险行业将迎来巨大变革" width="120"></div>
                <dl class='right'>
                    <dt class="title">车险行业将迎来巨大变革</dt>
                    <dd class="text">路比UBI专门为车险定价打造一款对汽车终端的使用数据........</dd>
                    <dd class="datetime"><span>2016-05-03</span><span class="click">800浏览</span></dd>
                </dl>
            </a>
        </div>
        <div class="box">
            <a href="" title="车险行业将迎来巨大变革">
                <div class="pic"><img src="http://news.xiashanet.com//d/file/a/kb/xfqb/xbtd/ea4f2dbd54c46b0b4f2a18b460a84e34.jpg" alt="车险行业将迎来巨大变革" title="车险行业将迎来巨大变革" width="120"></div>
                <dl class='right'>
                    <dt class="title">车险行业将迎来巨大变革</dt>
                    <dd class="text">路比UBI专门为车险定价打造一款对汽车终端的使用数据........</dd>
                    <dd class="datetime"><span>2016-05-03</span><span class="click">800浏览</span></dd>
                </dl>
            </a>
        </div>
        <div class="box">
            <a href="" title="车险行业将迎来巨大变革">
                <div class="pic"><img src="http://news.xiashanet.com//d/file/a/kb/xfqb/xbtd/ea4f2dbd54c46b0b4f2a18b460a84e34.jpg" alt="车险行业将迎来巨大变革" title="车险行业将迎来巨大变革" width="120"></div>
                <dl class='right'>
                    <dt class="title">车险行业将迎来巨大变革</dt>
                    <dd class="text">路比UBI专门为车险定价打造一款对汽车终端的使用数据........</dd>
                    <dd class="datetime"><span>2016-05-03</span><span class="click">800浏览</span></dd>
                </dl>
            </a>
        </div>
        <div class="box">
            <a href="" title="车险行业将迎来巨大变革">
                <div class="pic"><img src="http://news.xiashanet.com//d/file/a/kb/xfqb/xbtd/ea4f2dbd54c46b0b4f2a18b460a84e34.jpg" alt="车险行业将迎来巨大变革" title="车险行业将迎来巨大变革" width="120"></div>
                <dl class='right'>
                    <dt class="title">车险行业将迎来巨大变革</dt>
                    <dd class="text">路比UBI专门为车险定价打造一款对汽车终端的使用数据........</dd>
                    <dd class="datetime"><span>2016-05-03</span><span class="click">800浏览</span></dd>
                </dl>
            </a>
        </div>
        <div class="box">
            <a href="" title="车险行业将迎来巨大变革">
                <div class="pic"><img src="http://news.xiashanet.com//d/file/a/kb/xfqb/xbtd/ea4f2dbd54c46b0b4f2a18b460a84e34.jpg" alt="车险行业将迎来巨大变革" title="车险行业将迎来巨大变革" width="120"></div>
                <dl class='right'>
                    <dt class="title">车险行业将迎来巨大变革</dt>
                    <dd class="text">路比UBI专门为车险定价打造一款对汽车终端的使用数据........</dd>
                    <dd class="datetime"><span>2016-05-03</span><span class="click">800浏览</span></dd>
                </dl>
            </a>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="foot-con">
        <div class="foot-con_2">
            <a href="index.html" class="active">
                <i class="navIcon home"></i>
                <span class="text">首页</span>
            </a>
            <a href="category.html">
                <i class="navIcon sort"></i>
                <span class="text">发现</span>
            </a>
            <a href="userhome.html">
                <i class="navIcon member"></i>
                <span class="text">我的</span>
            </a>
        </div>
    </div>
</footer>




<script src="js/jquery.min.js"></script>
<script src="plugn/swiper/swiper.min.js"></script>
<script src="plugn/swiper/swiper.animate1.0.2.min.js"></script>
<script>
var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    paginationClickable: true,
    centeredSlides: true,
    autoplay: 3000,
    autoplayDisableOnInteraction: false
});
</script>
</body>
</html>
