<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="all" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<title>协议及条款</title>
<meta name="keywords" content="协议及条款" />
<meta name="description" content="协议及条款" />
<link rel="stylesheet" href="css/reset.css" />
<link rel="stylesheet" href="css/style.css" />
</head>

<body>
<header class="banner">
    <a href="register/register.html" class="btn-back"></a>
    <h3>协议及条款</h3>
</header>
<section id="privacy" class="register">
    <div class="wrapper">
        <div class="privacy">
            <h3>一、服务条款的确认和接受</h3>
            <p>用户（以下简称：您）使用深圳鼎然信息科技有限公司（以下称“鼎然科技”）的移动端产品“路比”(以下称“路比”)通过注册阅读《路比网络服务使用协议》（以下简称“本协议”）并点击"同意"按钮完成注册，即表示您与鼎然科技已达成协议，自愿接受本协议条款的所有内容。路比的各项网络服务的所有权和运营权归鼎然科技所有。</p>
            <p>&nbsp;</p>
            <h3>二、使用规则</h3>
            <p>1.您是具备完全民事权利能力和完全民事行为能力、且能够独立承担民事责任的自然人。如您通过路比提供的服务购买保险产品，则您必须年满18周岁且符合法律、法规规定的条件。</p>
            <p>2.基于路比所提供的服务的重要性，您在申请使用本服务时，应同意：</p>
            <p>(1)提供详尽、准确的个人资料及车辆信息；</p>
            <p>(2)必要时更新个人资料及车辆信息，符合及时、详尽、准确的要求。</p>
            <p>在用户使用路比服务时，路比需要搜集用户的相关车辆信息以路比为用户提供更好的使用体验。路比搜集的信息包括但不限于用户车辆的车牌号、车架号、发动机号、品牌型号、车主姓名、注册登记日期、个人资料信息等；路比默认用户输入的车辆信息对应的机动车为用户本人所有，并使用该车辆的相关信息进行后续算价服务。用户均已了解收集、使用其信息的目的、方式和范围，并同意路比取得和使用其信息进行车险算价相关服务。</p>
            <p>若您所提供的信息有任何错误、不实或不完整，鼎然科技保留结束您使用路比各项服务的权利。由上述原因导致服务无法正常提供，并由此导致的任何直接或间接损失由您自行承担。因通过您提供的电子邮件地址、手机或座机号码等联系方式无法及时与您取得联系，导致您在使用路比服务过程中产生任何损失或增加费用的，亦由您自行承担。</p>
            <p>3.您有义务遵守法律法规、政策、道德、路比各项规则以及鼎然科技相关业务规则等，不将路比用于任何非法目的，也不以任何非法方式使用路比所提供的服务。</p>
            <p>您必须遵守以下原则：</p>
            <p>(1)遵守中国有关法律和法规；</p>
            <p>(2)遵守所有使用网络服务的网络协议、规定、程序和惯例；</p>
            <p>(3)不得为任何非法目的而使用网络服务系统；</p>
            <p>(4)不得传输任何骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗的、淫秽的、教唆他人实施犯罪行为等非法的信息资料；</p>
            <p>(5)不得侵犯其他任何第三方的专利权、著作权、商标权、名誉权或其他任何合法权益；</p>
            <p>(6)不得利用路比网络服务系统进行任何不利于鼎然科技的行为；</p>
            <p>(7)不干扰或混乱网络服务；</p>
            <p>(8)未经许可不得非法进入其他电脑系统。</p>
            <p>4.您同意使用第三方或鼎然科技合作伙伴提供的其他服务。路比站内设有通往其他网站和网页的链接，但这些网站和网页并非由路比经营或控制，路比不承担任何类型的责任。您离开路比进入其他网站或网页，所有风险自负，鼎然科技不承担一切责任和债务。</p>
            <p>5.使用和注册路比不收取任何费用，路比仅为您提供相关的网络服务。您必须自行配备上网的所需设备（如个人电脑、手机、调制解调器等其他必备上网装置）及所需费用（如上网所支付的与此服务有关的电话费用、 网络费用、手机费用等）由于上网而产生的流量费用由相关运营商收取。</p>
            <p>&nbsp;</p>
            <h3>三、 隐私保护</h3>
            <p>您的个人资料受到严格保护，不接受鼎然科技及您之外的任何个人或单位的查询请求。但司法机关、法律法规、监管机构、本协议另有规定或要求，或鼎然科技为执行本协议确有必要披露的除外。 您应妥善保管注册的用户名称、密码等信息以及您的其他信息，所有使用该信息发生的行为以及使用您手机上的路比的行为均视为您作出的，并由您承担全部责任。因您保管、设置、使用不当等造成的损失和责任，由您自行承担。如您发现任何人冒用或盗用您的用户名及密码或有任何其他可能危及您的账户安全的情形时，您应当立即以有效方式通知路比，要求路比暂停相关服务。</p>
            <p>&nbsp;</p>
            <h3>四、网络服务内容的所有权</h3>
            <p>1.鼎然科技拥有路鼎纪及其相关信息、内容的全部合法权利，包括但不限于图标、界面设计、有关数据、电子文档等的知识产权等权利受到法律法规的保护。包括您在内的其他任何个人或组织不得进行反向工程、反向汇编、反向编译，不得将图片或软件数据取出使用，也不得进行任何违法违规行为。未经鼎然科技许可，任何个人或组织不得将路比用于商业用途。</p>
            <p>2.路比提供的文字、软件、声音、图片、录象、图表、广告中的全部内容、电子邮件的全部内容以及路比为您提供的其他信息。所有这些内容受版权、商标和/或其他财产所有权法律的保护。犀电商有权在合理范围内对路比及其功能和服务进行维护、改动、升级。</p>
            <p>&nbsp;</p>
            <h3>五、法律责任及免责</h3>
            <p>1.您同意保障和维护路比及其他用户的利益，如因您违反有关法律、法规或本服务条款的任何条款而给鼎然科技或任何其他第三人造成损失，您同意承担由此造成的损害赔偿责任。</p>
            <p>2.路比服务所提供的车险报价功能，只是对车险商品进行报价显示作用，不对其进行鉴定优劣。您应根据自己的情况进行分析考虑，在购买过程中应谨慎挑选。</p>
            <p>3.您同意对路比网络服务的使用承担全部风险，并对因使用路比网络服务而产生的一切后果承担全部风险，路比对您不作任何类型的担保，也不承担任何责任。对于因不可抗力或路比不能避免或控制的原因造成的网络服务中断或其他缺陷，鼎然科技不承担任何责任，但将尽力减少因此而给您造成的损失和影响。</p>
            <p>&nbsp;</p>
            <h3>六、其他规定</h3>
            <p>1.本服务协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，其余条款仍应有效并且有约束力。</p>
            <p>2.本服务协议的订立、执行和解释及争议的解决均应适用中国法律并受中国法院管辖。如本服务条款与中华人民共和国法律相抵触时，则该等条款将按法律规定重新修订，而其他条款则依旧有效并具有法律效力。</p>
            <p>3.若您对本服务有任何疑问，请发邮件至路比@路比.cn，我们会给予您必要的帮助。</p>
            <p>4.因本协议引起的或与本协议有关的争议，鼎然科技可与您协商解决。协商不成的，任何一方均可以向鼎然科技所在地人民法院提起诉讼解决。</p>
            <p>&nbsp;</p>
        </div>

        <a href="register/register.html" class="btn_blue" id="btn-agree">同意并返回</a>
        <footer id="footer">
            <div class="wrap">
                <div class="copyright">&copy;深圳鼎然信息科技有限公司&nbsp;&nbsp;&nbsp;ICP备14065655号-3</div>
            </div>
        </footer>
        <a class="imgs" id="back-to-top" title="返回顶部"></a>
    </div>
</section>
<script src="js/jquery.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>