<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="all" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<title>问题详情</title>
<meta name="keywords" content="问题详情" />
<meta name="description" content="问题详情" />
<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/style.css" />
</head>

<body>
<header class="banner"> <a href="profile.html" class="btn-back"></a>
  <h3>问题详情</h3>

</header>
  <section id="pro_con" class="pro_con">
  <div class="wrapper">
    <div class="" style="height: 10px; border-top: 1px solid #cccccc; background: #efeff4;"></div>
    <div class="content">
      <h3 class="title"> Q:什么是UBI？安装UBI有什么好处</h3>
      <p class="con">用户（以下简称：您）使用深圳鼎然信息科技有限公司（以下称“鼎然科技”）的移动端产品“路比”(以下称“路比”)通过注册阅读《路比网络服务使用协议》（以下简称“本协议”）并点击"同意"按钮完成注册，即表示您与鼎然科技已达成协议，自愿接受本协议条款的所有内容。路比的各项网络服务的所有权和运营权归鼎然科技所有。</p>
      <p>&nbsp;</p>
    </div>

  </div>

</section>

</body>
</html>