<!doctype html>
<html style="background-color: #efeff4;">
<head>
<meta charset="utf-8">
<meta name="robots" content="all" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<title>车辆信息</title>
<meta name="keywords" content="车辆信息" />
<meta name="description" content="车辆信息" />
<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/style.css" />
</head>

<body>
<header class="banner"> <a href="mine.html" class="btn-back"></a>
  <h3>车辆信息</h3>
</header>
<section id="data" class="data1">
  <div class="wrapper" style="min-height: 250px;">
    <div style="margin-top: 10px;  font-size:1.75em; height: 3em; line-height: 3em; background-color: #efeff4; text-align: center;"><i class="icon-people-name"></i>路比已关联您的车辆信息,请核对</div>
    <ul class="new_vehicle">
      <li><span class="input-tips">品牌型号：</span>
        <input type="text"  placeholder="请输入品牌型号" id="brand" class="border_btm"  />
      </li>

      <li><span class="input-tips">车辆识别码：</span>
        <input type="text"  placeholder="请输入车辆识别码" id="carid" class="border_btm" />
      </li>

      <li><span class="input-tips">发动机号：</span>
        <input type="text" placeholder="请输入发动机号" id="carnumber"  class="border_btm chepai" />
      </li>
      <li><span class="input-tips">注册日期：</span>
        <input type="text" placeholder="请输入注册日期" id="date"  class="border_btm chepai" />
      </li>
    </ul>
    <input type="submit" class="btn_gray" id="btn-next" value="完成" />
  </div>

</section>

<!--车辆信息－编辑－车型选择-->
<!--车辆信息－编辑－车型选择--> 
<script src="../js/jquery.min.js"></script>

</body>
</html>