<!doctype html>
<html style="background-color: #efeff4;">
<head>
<meta charset="utf-8">
<meta name="robots" content="all" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<title>绑定车辆</title>
<meta name="keywords" content="绑定车辆" />
<meta name="description" content="绑定车辆" />
<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/style.css" />
</head>

<body>
<header class="banner"> <a href="mine.html" class="btn-back"></a>
  <h3>绑定车辆</h3>
</header>
<section id="data" class="data1">
  <div class="wrapper" style="min-height: 250px;">
    <ul class="new_vehicle">
      <li><span class="input-tips">车主姓名：</span>
        <input type="text" placeholder="请输入车主真实姓名" id="owname" class="border_btm" />
      </li>

      <li><span class="input-tips">车牌号：</span>
        <input type="text" placeholder="请输入车牌号" id="owcarid" class="border_btm" />
      </li>

      <li><span class="input-tips">设备id：</span>
        <input type="text" id="carnumber" placeholder="请输入车牌号码" class="border_btm chepai" />
      </li>
    </ul>
    <input type="submit" class="btn_gray" id="btn-next" value="完成" />
  </div>

</section>

<!--车辆信息－编辑－车型选择-->
<!--车辆信息－编辑－车型选择--> 
<script src="../js/jquery.min.js"></script>

</body>
</html>