<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="all" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<title>驾驶收益</title>
<meta name="keywords" content="驾驶收益" />
<meta name="description" content="驾驶收益" />
<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/style.css" />
</head>

<body>
<h1 class="thumbnails" style="width:0; height:0; overflow:hidden; position:absolute;">
    驾驶收益
    <p>驾驶收益</p>
    <img src="about:blank" title="分享图片地址" style="width:0; height:0; overflow:hidden; position:absolute;">
</h1>
<header class="banner">
    <a href="../index.html" class="btn-back"></a>
    <a href="javascript:void(0);" id="mine-title"><span>驾驶收益</span></a>


</header>


<section id="cargains">
    <div class="wrapper">
        <div class="gains">
            <div class="gains-title"><span style="float: left;">累计驾驶收益</span><span style="float: right;"><a href="postal.html">取现></a></span></div>
            <div class="none hide"><span>暂无收益</span></div>
            <div class="mygains">
               <div class="gainstotal">898.8元</div>
                <div class="gainsprve">上周新增收益<span>23.50</span>元 </div>
            </div>
        </div>

        <div class="clearbg"></div>
        <div class="mine-def-title"><span>驾驶收益一览表</span></div>
        <div class="cleartw"></div>
        <div class="yield-curve"><canvas id="canvas"></canvas></div>

        <div class="clearline"></div>
        <div class="gainslist-title">驾驶收益明细</div>
        <div class="gainslist">
            <ul>
                <li><div class="gainsdate">04-20</div><div class="gainstt">驾驶收益</div><div class="gainsmoney">+0.3</div></li>
                <li><div class="gainsdate">04-20</div><div class="gainstt">驾驶收益</div><div class="gainsmoney">+0.3</div></li>
                <li><div class="gainsdate">04-20</div><div class="gainstt">驾驶收益</div><div class="gainsmoney">+0.3</div></li>
                <li><div class="gainsdate">04-20</div><div class="gainstt">驾驶收益</div><div class="gainsmoney">+0.3</div></li>

            </ul>

        </div>

        <footer id="footer">
            <div class="wrap">
                <div class="copyright">&copy;深圳鼎然信息科技有限公司&nbsp;&nbsp;&nbsp;ICP备14065655号-3</div>
            </div>
        </footer>
    </div>

    <!--注册信息出错提示层---->
    <div id="pop-mask" class="hide"></div>
    <div id="pop-reg-tips" class="pop-tips hide">
        <div class="pop-bd"></div>
        <a href="javascript:void(0);" id="btn-submit" class="btn_blue_s">确定</a>
    </div>
</section>
<script src="../js/jquery.min.js"></script>
<script src="../js/Chart.js"></script>
<script src="../js/modernizr.min.js"></script>
<script src="../js/main.js"></script>
<script>
    $(function() {

        /*------------------------------------------------
        * 收益曲线  start */
        var lineChartData = {
            labels : ["Jan","Feb","Mar","Apr","May","Jun","Jul"],
            datasets : [
                {
                    fillColor : "rgba(34,166,249,0.1)",
                    strokeColor : "rgba(34,166,249,1)",
                    pointColor : "rgba(34,166,249,1)",
                    pointStrokeColor : "#fff",
                    data : [28,48,40,19,96,27,100]
                }
            ]
        };
        setIntroChart();

        function setIntroChart(){
            var ctx = document.getElementById("canvas").getContext("2d");
            new Chart(ctx).Line(lineChartData,{animation: Modernizr.canvas, scaleShowLabels : true, scaleFontColor : "#767C8D",tooltipFillColor: "rgba(34,166,249,0.9)",tooltipFontFamily: "'Helvetica', 'Arial', sans-serif"});
        }
        /*------------------------------------------------
         * 收益曲线  end */
    });
</script>
</body>
</html>