<!doctype html>
<html style="background: #efeff4;">
<head>
<meta charset="utf-8">
<meta name="robots" content="all" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<title>我的车辆</title>
<meta name="keywords" content="我的车辆" />
<meta name="description" content="我的车辆" />
<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/style.css" />
<script src='../js/jquery.min.js'></script>

</head>

<body>
<header class="banner"> <a href="mine.html" class="btn-back"></a>
  <h3>我的车辆</h3>
    <a class="btn-addcar" href="javascript:void(0);">添加车辆</a>
</header>
<section id="mycar" class="mycar">
  <div class="wrapper">
    <!--车辆信息－新建start-->
      <div class="car-list">
          <span  class="carimg"><img src="../images/carbrand.png"> </span>
          <div class="car-brand">
              <div class="car-brand-name">别克威朗E300轿车</div>
              <div class="car-owner">张卓越&nbsp;粤B88888</div>
          </div>
          <div class="car-bd"><a href="">绑定设备</a></div>
      </div>
        <div class="carline"></div>

      <div class="car-list">
          <span  class="carimg"><img src="../images/carbrand.png"> </span>
          <div class="car-brand">
              <div class="car-brand-name">别克威朗E300轿车</div>
              <div class="car-owner">张卓越&nbsp;粤B88888</div>
          </div>
          <div class="car-bd"><a href="">绑定设备</a></div>
      </div>
      <div class="carline"></div>

      <div class="car-list">
          <span  class="carimg"><img src="../images/carbrand.png"> </span>
          <div class="car-brand">
              <div class="car-brand-name">别克威朗E300轿车</div>
              <div class="car-owner">张卓越&nbsp;粤B88888</div>
          </div>
          <div class="car-bd"><a href="">绑定设备</a></div>
      </div>
      <div class="carline"></div>

    <!--车辆信息－新建end-->
  </div>



</section>


</body>
</html>