<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="all" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<title>我的保单</title>
<meta name="keywords" content="我的保单" />
<meta name="description" content="我的保单" />
<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/style.css" />
</head>

<body>
<h1 class="thumbnails" style="width:0; height:0; overflow:hidden; position:absolute;">
    我的保单
    <p>我的保单</p>
    <img src="about:blank" title="分享图片地址" style="width:0; height:0; overflow:hidden; position:absolute;">
</h1>
<header class="banner">
    <a href="../index.html" class="btn-back"></a>
    <a href="javascript:void(0);" id="mine-title"><span>我的保单</span></a>
</header>

<section id="mine">
    <div class="wrapper">


        <div class="ordercut-off"></div>
        <div  class="policyorderlist">
            <div class="policyid"><span>订单编号：123456789123</span><span class="fr">待支付</span><!-- 续保状态把文字改为即将过期--></div>
            <div class="policyinfo">
                <span class="policyimg"><img src="../images/goos.png"> </span>
                <span class="policytitle">
                   <div class="policyname"> 车主姓名：你是谁</div>
                    <p>车牌号：粤B-12345 生效日期：2016/06/29</p>
                </span>
            </div>
            <div class="policyresult">保险金额：<span id="copyid">￥50000</span><span class="pay">支付</span><!--待支付按钮class为pay 续保状态为copy--></div>
        </div>



        <div class="ordercut-off"></div>
        <div  class="policyorderlist">
            <div class="policyid"><span>订单编号：123456789123</span><span class="fr">待支付</span><!-- 续保状态把文字改为即将过期--></div>
            <div class="policyinfo">
                <span class="policyimg"><img src="../images/goos.png"> </span>
                <span class="policytitle">
                   <div class="policyname"> 车主姓名：你是谁</div>
                    <p>车牌号：粤B-12345 生效日期：2016/06/29</p>
                </span>
            </div>
            <div class="policyresult">保险金额：<span id="copyid">￥50000</span><span class="pay">支付</span><!--待支付按钮class为pay 续保状态为copy--></div>
        </div>
        

    </div>


</section>
<script src="../js/jquery.min.js"></script>
</body>
</html>