<!doctype html>
<html style="background: #efeff4;">
<head>
<meta charset="utf-8">
<meta name="robots" content="all" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<title>消息盒子</title>
<meta name="keywords" content="消息盒子" />
<meta name="description" content="消息盒子" />
<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/style.css" />
</head>

<body>
<header class="banner"> <a href="mine.html" class="btn-back"></a>
  <h3>消息盒子</h3>
</header>
<section id="newmail" class="newmail">
  <div class="wrapper">
    <div class="liccline"></div>


    <div class="mail-list">
      <span class="icopoint"><img src="../images/point.png"> </span><div class="mailtitle">
      <span>恭喜您获得昨日驾驶得分排名第一！良好的驾驶习惯是自身及他人安全的有效保障，继续加油喔！</span>
      <p>11:38 2016-06-01</p>
    </div><span class="icoright pr"></span>
    </div>
    <div class="cut-off"></div>


    <div class="mail-list">
      <span class="icopoint"><img src="../images/point.png"> </span><div class="mailtitle">
      <span>恭喜您获得昨日驾驶得分排名第一！良好的驾驶习惯是自身及他人安全的有效保障，继续加油喔！</span>
      <p>11:38 2016-06-01</p>
    </div><span class="icoright"></span>
    </div>
    <div class="cut-off"></div>



    <div class="mail-list">
      <span class="icopoint"><img src="../images/point.png"> </span><div class="mailtitle">
      <span>恭喜您获得昨日驾驶得分排名第一！良好的驾驶习惯是自身及他人安全的有效保障，继续加油喔！</span>
      <p>11:38 2016-06-01</p>
    </div><span class="icoright"></span>
    </div>
    <div class="cut-off"></div>


    <div class="mail-list">
      <span class="icopoint"><img src="../images/point.png"> </span><div class="mailtitle">
      <span>恭喜您获得昨日驾驶得分排名第一！良好的驾驶习惯是自身及他人安全的有效保障，继续加油喔！</span>
      <p>11:38 2016-06-01</p>
    </div><span class="icoright"></span>
    </div>
    <div class="cut-off"></div>




  </div>



</section>
<script src="../js/jquery.min.js"></script> 

</body>
</html>