<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="all" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<title>修改密码</title>
<meta name="keywords" content="修改密码" />
<meta name="description" content="修改密码" />
<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/style.css" />
   <link rel="stylesheet" href="../css/layer.css" />
</head>

<body>
<header class="banner"> <a href="profile.html" class="btn-back"></a>
  <h3>修改密码</h3>
</header>
<section id="profile" class="userprofile">
    <div class="liccline"></div>
  <div class="wrapper">
    <form id="registerForm" method="post" action="javascript:;">
      <ul class="new_register">
          <li>
              <input type="password" placeholder="6-18位字母加数字组合" class="r_repsw" maxlength="16" />
          </li>
      </ul>
      <input type="submit" class="btn_blue" id="btn-register" value="确认" />
      <!--当条件满足时，将class"btn_gray"切换为"btn_blue"--> 
      <!--完成这步后，转到填写车辆信息"reg_vehicle.html"-->
    </form>
  </div>

</section>
<script src="../js/jquery.min.js"></script>
<script src="../js/layer.js"></script>

</body>
</html>