<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="all" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<title>设置</title>
<meta name="keywords" content="设置" />
<meta name="description" content="设置" />
<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/style.css" />
</head>

<body>
<header class="banner"><a href="mine.html" class="btn-back"></a>
  <h3>设置</h3>
</header>
<section id="data" class="login">
  <div class="wrapper">
      <div class="logo">
      </div>

      <ul class="new_register">
          <li><a href="../problem/feedback.html" style="font-size: 1.75em; color:#000000;">问题反馈</a>
          </li>
        <!--  <li>
             <a href="../problem/">评价</a>没有评价设计图
          </li>-->
      </ul>

      <input type="submit" class="btn_gray" id="btn-register" value="退出登录" />

  </div>

</section>

</body>
</html>