<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="all" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<title>个人资料</title>
<meta name="keywords" content="个人资料" />
<meta name="description" content="个人资料" />
<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/style.css" />
   <link rel="stylesheet" href="../css/layer.css" />
</head>

<body>
<header class="banner"> <a href="profile.html" class="btn-back"></a>
  <h3>个人资料</h3>
</header>
<section id="profile" class="userprofile">
    <div class="liccline"></div>
  <div class="wrapper">
    <form id="registerForm" method="post" action="javascript:;">
      <ul class="new_register">
        <li style="height: 10em;"><span class="ico_lock">头像</span> <div class="userphoto"><img src="../images/photo.png"> </div> </li>
          <div class="liccline"></div>
        <li><span class=" ico_lock">手机号码</span>
          <input type="tel" placeholder="手机号码" class="r_repsw" maxlength="16" />
           </li>
          <li><span class=" ico_lock">修改密码</span>
              <input type="password" placeholder="修改密码" class="r_repsw" maxlength="16" />
          </li>
      </ul>
      <input type="submit" class="btn_blue" id="btn-register" value="保存修改" />
      <!--当条件满足时，将class"btn_gray"切换为"btn_blue"--> 
      <!--完成这步后，转到填写车辆信息"reg_vehicle.html"-->
    </form>
  </div>
  <!--注册信息出错提示层---->
</section>
<script src="../js/jquery.min.js"></script>
<script src="../js/layer.js"></script>
<script>
    $(function() {
        $("#btn-register").click(function () {
            //如果注册条件不满足，则显示弹出层
            var screenHeight = $(window).height();
            $("#pop-mask").css({height: screenHeight}).fadeIn(500);
            $("#pop-reg-tips").fadeIn(500);
        });
        $("#btn-submit").click(function() {
            $("#pop-mask").fadeOut(500);
            $("#pop-reg-tips").fadeOut(500);
        })
    });
</script>
</body>
</html>